/* line 20, ../_sass/app.sass */
.navbar-default {
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 25, ../_sass/app.sass */
.bs-masthead {
  background-color: #31d37d;
  background: url("http://piedestalen.files.wordpress.com/2012/01/14jan-076.jpg") no-repeat;
  background-size: 100%;
  text-align: center;
  padding-top: 50px;
}
